.datepicker table tr td.disabled{
    color: grey;
    text-decoration: line-through;
}

.datepicker table tr td.disabled:hover{
    color: grey;
    text-decoration: line-through;
}

.pricelist-description {
    flex: 1;
}

.pricelist-price {
    flex: 1;
    font-weight: bold;
}