{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock stylesheets %}

{% block content %}
<div class="text-center position-relative">
    <img src="{{ asset('images/karavany-pujcovna-noc.jpg')}}" class="img-fluid" alt="Užij si s našimi karavany pohledy na krásnou noční oblohu.">
    <h1 class="motto position-absolute">Zažij tu pravou svobodu.</h1>
</div>
{% endblock content %}